$main-color: #00c854;
$main-width: 1140px;
$user-width: 235px;
$card-list-width: 865px;
$card-border-color: #e1e4e7;
$card-list-header-height: 24px;

/* 반응형 레이아웃 breakpoint */
$layout-breakpoint-mobile: 768px;